<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Select a Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Select a Student</h1>
    <form action="editMarks" method="get">
        <select name="student_id">
            <% for (let i = 0; i < students.length; i++) { %>
            <option value="<%=students[i].id %>"><%=students[i].first_name %> <%=students[i].last_name %></option>
            <% } %>
        </select>
        <input type="submit" value="Edit Marks">
    </form>
</body>
</html>